<a href="https://colab.research.google.com/github/FahmidaNourin/Practice_Cell/blob/master/Python_Begining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read Some integer number in one line:
<ol>
<li>Find the even numbers</li>
<li>Find number above 5</li>
<li>Count Number above 10</li>
<li> Count the even and odd number</li>
</ol>
<br>
<font color="Green">Example for 1:</font><br>
Input: 2 3 4 5 6 10 20 15 90<br>
Output: 2 4 6 10 20 90<br><br>

<font color="Green">Example for 2:</font><br>
Input:2 3 4 5 6 10 20 15 90<br>
Output: 6 10 20 15 90<br><br>

<font color="Green">Example for 3:</font><br>
Input:2 3 4 5 6 10 20 15 90<br>
Output: 3<br><br>

In [14]:
talika=list(map(int,input().split()))

even=[]

for k in talika:
  if k%2==0:
    even.append(k)

print(*even,sep=" ")

2 3 4 5 6 10 20 15 90
2,4,6,10,20,90
[2, 4, 6, 10, 20, 90]

In [20]:
talika=list(map(int,input().split()))

odd=[]

for k in talika:
  if k%2!=0:
    odd.append(k)

print(*odd,sep=" ")

2 3 4 5 6 10 20 15 90
3 5 15

In [22]:
talika=list(map(int,input().split()))

above=[]

for k in talika:
  if k>5:
    above.append(k)
print(*above,sep=" ")

2 3 4 5 6 10 20 15 90
6 10 20 15 90

In [25]:
talika=list(map(int,input().split()))

count=[]
for k in talika:
  if k>10:
    count.append(k)
print(len(count))

2 3 4 5 6 10 20 15 90
3